@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Inter:wght@100..900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px; 
}



/*Tornando o componente fixo e centralizado na tela, mesmo que scrollarmos o site para baixo 
o modal vai continuar na mesma posição.*/
#back
{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

/*Centralizando todos os elementos do componente no centro da tela. E definindo o tamanho final do componente*/
#changeCentralize
{

    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #38005AA1;
    justify-content: center;
    align-items: center;
    z-index: 22;
}
   
/*Definindo o tamanho do container do change*/
#changeContainer
{
    margin-top: -250px;
    width: 50%;
    height: 50%;
    z-index: 22;
   
}

/*Colocando o elemento changeHeader em cima do changeBody*/
#changeHeader
{
    position: relative;
    top: 16%;
    left: 15%;
    background-color: rgb(255, 255, 255);
    padding-top: 1.6rem;
    padding-bottom: .1rem;
    border-radius: 35px;
    text-align: center;
    width: 470px;
    z-index: 22;
}

/*Configurando a fonte do changeHeader*/
#changeHeader span
{
    font-family: 'Baloo 2', sans-serif;
    color: #FF7D1E;
    font-size: 40px;
    font-weight:800;
    position: relative;
    bottom: 18px;
}

/*Configurando o elemento responsável pelos inputs de change*/
#changeBody
{
    border-radius: 25px;
    background-color: #ffffff;
    padding: 4rem 17.6rem  1.3rem 3.6rem;
    z-index: 22;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


/*Configurando a aparencia dos inputs*/
.changeInput
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.changeInput input
{
    background-color: #F3F3F3;
    border-radius: 23px;
    border-color: #f3f3f300;
    padding: .2rem .6rem;
}

.nameInput
{
    color: #CC78FF;
    font-weight: 700;  
    font-size: 18px;
}

/*Centralizando os botões do change*/
#changeButton
{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
    margin-bottom: 10px;
}

/*Estilizando os botões de longar e de não possuir cadastro*/
#changeButton button
{
    font-weight: 700;
    cursor: pointer;
    padding: .1rem .6rem;
    transform: translateX(25%);
}

#changeButtonSubmit
{
    background-color: #FF7D1E;
    color: rgb(255, 255, 255);
    width: 120px;
    font-size: 18px;
}

/*Os elementos com a classe hide, devem ficar invisiveis*/
#changeCentralize.hide, #back.hide
{
    opacity: 0;
    pointer-events: none;
}

/*Configurando o protótipo da animação de aparecimento, juntando com o código da classe hide, se cria o efeito:
Aparecer e desaparecer*/
#changeCentralize, #back
{
    opacity: 1;
    transition: .5s;
    pointer-events: all;
}

/*Estilizando os botões responsáveis por abrir e fechar o modal*/
#openModal
{
    margin-top: 25px;
    margin-left: 5px;
    cursor: pointer;
}

#closeModal
{
    position: relative;
    border-radius: 50px;
    padding: .5rem .7rem;
    background-color: #ffffff00;
    transition: .2s;
    margin-left: 100%;
    top: 41px;
}

#closeModal:hover
{
    transition: .2s;
    background-color: #FF7D1E;
}


/*Estilizando o input do codigo de verificação */
.codInput
{
    display: flex;
    flex-direction: column;
}

.codInput input
{
    width: 240px;
    outline: none;
    font-size: 18px;
    letter-spacing: 1.7rem;
    text-indent: 5px;
    background-color: #cb78ff00;
    border-bottom: 1px black solid;
    border-radius: 0px;
}