#titleBox {
    background-color: #8A00DE;
    padding-left: 6rem;
    padding-right: 6rem;
    border-radius: 40px;
    padding-top: 1rem;
    text-align: center;
    z-index: 1;
}

#titleBox h1{
    color: #FFC79E;
    font-size: 30px;
}

#divisor {
    background-color: #8A00DE;
    padding-top: 4rem;
    width: 100%;
    margin-top: -40px;
    /* margin-bottom: -5px; */
}

/* #boxPrincipal {
    background-color: #8A00DE;
    padding-top: 5rem;
    padding-bottom: 2em;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    justify-content: space-around;
    padding-left: 10rem;
    padding-right: 10rem;
    margin-top: -40px;
    z-index: 0;
} */

section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}