#titleBox {
    background-color: #8A00DE;
    width: 40%;
    border-radius: 40px;
    padding-top: 1.5%;
    text-align: center;
    z-index: 1;
}

#titleBox h1{
    color: #FFC79E;
    font-size: 35px;
}

#boxPrincipal {
    background-color: #8A00DE;
    padding-top: 5rem;
    padding-bottom: 2em;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    justify-content: space-around;
    padding-left: 10rem;
    padding-right: 10rem;
    margin-top: -40px;
    z-index: 0;
}

section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}