@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Inter:wght@100..900&display=swap');


/*===- Configuração de  botão selecionado -===*/
/* #headerHome {
    padding: .2rem .8rem;
    transition: .5s;
    background-color: #ff7d1e;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 21.78px;
    letter-spacing: -1.5%;
    height: 30px;
    border-radius: 20px;

} */

/*===- Configuração de  botão selecionado -===*/

/* Código do bloco 2*/
/* .titleBoxRoxo {
    background-color: #8A00DE !important;
    padding-left: 6rem;
    padding-right: 6rem;
    border-radius: 40px;
    padding-top: 1rem;
    text-align: center;
    z-index: 1;
}

#titleBox h1{
    color: #FFC79E !important;
}

#divisor {
    background-color: #8A00DE;
}
 */


.boxInformations {
    display: flex !important;
    flex-direction: row !important;
    padding-left: 10rem;
    padding-right: 10rem;
}

#chamada {
    background-color: #F7EBFF;
    color: #8A00DE;
    padding: 1em;
    text-align: center;
}

#chamada p a {
    text-decoration: none;
}

.carrossel {
    display:flex;
    justify-content: center;
    flex-direction: row;
    gap:2em;
    margin: 2.5em 5.4em 2.5em 5.4em;
    align-items: center;
}

.carrossel p {
    color: #FF7D1E;
}

#destaques {
    margin: 2em;
}

#tituloDepoimentos {
    background-color: #FF7D1E;
    /* margin-top, margin-right, margin-bottom, e margin-left. */
    /* margin: 0em 30em 1em 0em; */
    width: 40%;
    padding: 0.25rem;
    color: #FFFFFF;
    border-top-right-radius: 10em;
    border-bottom-right-radius: 10em;
    font-family: "Baloo 2", sans-serif;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#tituloDepoimentos h2 {
    color: #FFFFFF;
    font-family: "Baloo 2", sans-serif;
    font-size: 30px;
    text-align: end;
    padding-right: 4rem;
}

#depoimentos {
    display: flex;
    flex-direction: row;
    gap: 10em;
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 5em;
}