/* .breadcrumb {
    list-style: none;
    padding: 0;
  }
  
  .breadcrumb-item {
    display: inline-block;
    margin-right: 5px;
    color: #8800DA;
  }
  
  .breadcrumb-item.active {
    font-weight: bold;
  } */
  
  .breadcrumb {
    padding: 0;
  }
  
  .breadcrumb-item {
    color: #8800DA; /* Cor roxa */
    margin-right: 5px;
  }
  
  .separator {
    color: #8800DA;
    margin: 0 5px; /* Espaçamento entre os separadores */
  }
  
  .breadcrumb-item.active {
    font-weight: bold;
  }
  