.caixa {
    background-color: #F7EBFF;
    display: flex;
    flex-direction: column;
    border-radius: 2em;
    /*       top,  right, bottom, left. */
    padding: 1em 1em    1em   1em;
}

.caixa_top {
    background-color: #ECD1FC;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    border-radius: 5em;
    /*       top,  right, bottom, left. */
    padding: 0em   10em    0em     0.5em;   
}

.caixa_bottom {
    /*       top,  right, bottom, left. */
    padding-top: 1em;  
}