.caixa {
    background-color: #F7EBFF;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    gap: 0.75rem;
    /* Não precisa ficar colocando partido */
    padding: 1.25rem;
}

.caixa_top {
    background-color: #ECD1FC;
    display: flex;
    gap: 0.5em;
    border-radius: 5em;
    align-items: center;
    padding: 0.5rem;   
}

.caixa_top-info h3{
    font-size: 17px;
}

.caixa_top-info p{
    font-size: 14px;
}

#estrelas {
    display: flex;
    gap: 0.5rem;
    align-self: flex-end;
}

#estrelas img{
    width: 1rem;
}

.caixa_bottom {
    /*       top,  right, bottom, left. */
    padding-top: 1em;  
}