@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Inter:wght@100..900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px; 
}



/*Tornando o componente fixo e centralizado na tela, mesmo que scrollarmos o site para baixo 
o modal vai continuar na mesma posição.*/
#back
{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}

/*Centralizando todos os elementos do componente no centro da tela. E definindo o tamanho final do componente*/
#loginCentralize
{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #38005AA1;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 100vw;
    height: 100vh;
}
   
/*Definindo o tamanho do container do login*/
#loginContainer
{
    margin-top: -250px;
    width: 36%;
    height: 50%;
    z-index: 5;
}

/*Colocando o elemento loginHeader em cima do loginBody*/
#loginHeader
{
    position: relative;
    top: 15%;
    left: 15%;
    background-color: rgb(255, 255, 255);
    padding: .7rem 6rem;
    border-radius: 53px;
    text-align: center;
    width: 300px;
    z-index: 2;
}

/*Configurando a fonte do loginHeader*/
#loginHeader span
{
    font-family: 'Baloo 2', sans-serif;
    color: #FF7D1E;
    font-size: 40px;
    font-weight:800;
    position: relative;
    bottom: 18px;
}

/*Configurando o elemento responsável pelos inputs de login*/
#loginBody
{
    border-radius: 33px;
    background-color: #ffffff;
    padding: 4rem 2.3rem  1.3rem 2.3rem;
    z-index: 1; 
    display: flex;
    flex-direction: column;
    gap: 20px;
}


/*Configurando a aparencia dos inputs*/
.loginInputs
{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.loginInputs input
{
    background-color: #F3F3F3;
    border-radius: 23px;
    border-color: #f3f3f300;
    padding: .2rem .6rem;
}

.nameInput
{
    color: #CC78FF;
    font-weight: 700;  
}

/*Configurando o esqueci a senha*/
.forgotPassword
{
    color:#CE5700;
    font-weight: 500;
    font-size: 12px;
    text-align: right;
    cursor: pointer;
}


/*Centralizando os botões do login*/
#loginButtons
{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

/*Estilizando os botões de longar e de não possuir cadastro*/
#loginButtons button
{
    font-weight: 700;
    cursor: pointer;
}

#loginButtonSignIn
{
    background-color: #FF7D1E;
    color: white;
    padding: .1rem .1rem;
    width: 120px;
}

#loginButtonSignUp
{
    background-color: #ff7c1e00;
    color: #FFA15D;
}


/*Os elementos com a classe hide, devem ficar invisiveis*/
#loginCentralize.hide, #loginContaineer.hide
{
    opacity: 0;
    pointer-events: none;
}

/*Configurando o protótipo da animação de aparecimento, juntando com o código da classe hide, se cria o efeito:
Aparecer e desaparecer*/
#loginCentralize
{
    opacity: 1;
    transition: .5s;
    pointer-events: all;
}

/*Estilizando os botões responsáveis por abrir e fechar o modal*/
#openModal
{
    margin-top: 25px;
    margin-left: 5px;
    cursor: pointer;
}

#closeModal
{
    position: relative;
    border-radius: 50px;
    padding: .5rem .7rem;
    background-color: #ffffff00;
    transition: .2s;
    margin-left: 100%;
    top: 41px;
}

#closeModal:hover
{
    transition: .2s;
    background-color: #FF7D1E;
}


