@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    margin: 0;
}

.title {
    font-family: "Baloo 2", sans-serif;
}

body {
    background-color: #FFF9F5;
}

#boxInformations {
    background-color: #8A00DE;
    padding-bottom: 2em;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    justify-content: space-around;
    padding-left: 10rem;
    padding-right: 10rem;
}

#vantagens {
    background-color: #F7EBFF;
    color: #8A00DE;
    padding: 1em;
    text-align: center;
}

#vantagens p a {
    text-decoration: none;
}

.carrossel {
    display:flex;
    justify-content: center;
    flex-direction: row;
    gap:2em;
    margin: 2.5em 5.4em 2.5em 5.4em;
    align-items: center;
}

.carrossel p {
    color: #FF7D1E;
}

#destaques {
    margin: 2em;
}

#tituloDepoimentos {
    background-color: #FF7D1E;
    /* margin-top, margin-right, margin-bottom, e margin-left. */
    margin: 0em 30em 1em 0em;
    padding: 0.2em 0em 0.2em 10em;
    color: #FFFFFF;
    border-top-right-radius: 10em;
    border-bottom-right-radius: 10em;
}

#depoimentos {
    display: flex;
    flex-direction: row;
    gap: 10em;
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 2em;
}