/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.itemBarra {
    font-family: "Baloo 2", sans-serif;
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 1.5em;
    padding: 0.2em 1.9em;
    font-family: "Baloo 2", sans-serif;
    cursor: pointer;
    font-weight: 700;
    transition: background-color 0.3s ease;
    scale: 1;
}


#buttonStyle:hover
{
    transition: .35s;
    background-color: #ff6a00;
    scale: 1.02;
} */